@model IEnumerable<VictorBlog.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogTitle)
            </td>
            <td class="blogContent">
                @Html.DisplayFor(modelItem => item.BlogContent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDBlog">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDBlog">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDBlog">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
